body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
}

.game-container {
    display: flex;
}

canvas {
    background-color: #111;
    border: 1px solid #555;
}

.info {
    margin-left: 20px;
}

h3 {
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

#score {
    font-size: 2em;
    text-align: center;
}
